.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: get-size("500");
  border-radius: 1rem;
  text-align: center;

  article {
    width: 100%;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    > .icon {
      font-size: get-size("700");
      width: get-size("600");
      margin-right: get-size("300");
      > svg-icon {
        font-size: get-size("700");
        width: get-size("600");
        margin-right: get-size("300");
      }
    }
  }
  .title {
    font-size: get-size("300");
    opacity: 0.7;
  }
  .info-container {
    flex-direction: row;
  }
}
