.dashboard {
  text-align: center;

  @include media-query("md") {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;

    > :first-child {
      grid-column-start: 1;
      grid-column-end: 7;
    }
    > :last-child {
      grid-column-start: 2;
      grid-column-end: 7;
    }
  }

  padding: get-size("500");

  .dark > div {
    background-color: get-color(secondary);
  }
  .light > div {
    background-color: white;
  }
}
