.overview-panel {
  width: 100%;
  margin-bottom: get-size("600");
  text-align: center;
  @include media-query("md") {
    text-align: left;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include media-query("md") {
      grid-template-columns: repeat(6, 1fr);
    }

    .card {
      padding: get-size("300");
      border: 0px;

      div {
        > .data {
          font-size: get-size("600");
          @include apply-utility("weight", "bold");
        }
      }
    }
  }
}
