.room-list {
  text-align: center;
  padding-bottom: get-size("400");
  @include media-query("md") {
    text-align: left;
  }
  padding-top: get-size("600");
  > * {
    list-style: none;
  }
  ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    @include media-query("md") {
      justify-content: start;
    }
    li {
      padding-right: get-size("300");
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }

  .list-item > article {
    width: auto;
    display: flex;
    padding: 0.5rem 0rem;
    opacity: 0.8;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0;
    transition: all 500ms;

    &:hover {
      opacity: 1;

      .data {
        display: none;
      }
    }
  }
  h3 {
    font-size: get-size("400");
    font-weight: 400;
    margin: 0px;
  }
  p {
    @include apply-utility("weight", "bold");
  }
  svg {
    display: none;
  }
}
